
/*USER DEFINED CSS*/

.App {
    text-align:center;
}
.footer{
  min-height: 10vh;
  background-color: aliceblue;
}

.full-height{
  min-height: 100vh;
}

.eve-img{
  height: 25%;
}

.crd-size{
  width: fit-content;
}
.bgc{
  background-color: #EEA47FFF;
}

.bg-cc{
  background-color: #00539CFF;
}

.bg-banner-1{
  background-image: url('./images/human-and-map.svg');
  background-size: 100%;
}